
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Campeonatos</title>
</head>
<body>
    <div> 
        <p>
            1968<br /><br />
            1970<br /><br />
            1974<br /><br />
            1978<br /><br />
        </p>
    </div>
</body>
</html>
