
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fundadores</title>
</head>
<body>
    <div> 
        <h1>FUNDADORES</h1>
        <p>
            Henry Pichardo <br/><br/>
            Brayan Raul Torres<br/><br/>
            Hossseis Pichardo<br/><br/>
        </p>
    </div>
</body>
</html>
