
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Tigres Del Licey</h1>
        <p>
            El acontecimiento mas importante desde que los dominicanos empezaron a jugar el beisbol, sucedio en 1907, cuando surgio en el escenario deportivo el glorioso club de loa Tigres, o Azules del Licey, el equipo de mayor fama y trascendencia en nuestra historia beisbolera.<br /><br />
            El año de 1907 es la fecha clave de su cronologia, aunque la del dia exacto de su fundacion cambiasegun diversos autores. Talito Redondo dice que fue en el mes de julio, pero afirman como seguro el 7 de noviembre de 1097, en horas dela mañana, fecha que se celebra como autentica, y en la cual centran actos, fiestas y homenajes.<br /><br />
        </p>
    </div>
</body>
</html>
